 .u-section-1 {
  background-image: url("../images/photo_2025-03-20_22-04-03.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 20px auto 39px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 140px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 31px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 464px;
}

.u-section-3 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-3 .u-table-1 {
  margin: 14px 0 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-08cd-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin: 16px auto 0 12px;
}

.u-section-4 .u-table-1 {
  margin: 45px 0 60px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-21c1-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-table-1 {
    margin-top: -1px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin: 20px 708px 0 0;
}

.u-section-5 .u-table-1 {
  margin: 45px 0 60px;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-c38c-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 21px;
    margin-right: 508px;
  }

  .u-section-5 .u-table-1 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-5 .u-table-1 {
    margin-top: 37px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }
}